<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ex3</title>
</head>
<body>
    <th:block th:text="${result}"/>
    <th:block th:text="${dto}"/>

    <script>
        const msg = [[${result}]];
        const dto = [[${dto}]];

        console.log("msg: ", msg);
        console.log("dto: ", dto);
    </script>
</body>
</html>